<div class="card">
    <div class="card-header">
        <h3 class="card-title">Education Details</h3>
    </div>
    <div class="card-body">
        <form id="educationForm">
            <div id="educationDetailsContainer">
                <!-- Education details fields will be appended here -->
            </div>
            <button type="button" id="addEducation" class="btn btn-primary">Add Education Detail</button>
            <button id="Step2_SaveButton" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
