@model Step1ViewModel
<div class="card">
<div class="card card-primary">
<form id="FormStep1" method="post">
    <div class="form-group">
        <label for="inputFullName">Full Name</label>
        <input type="text" class="form-control" id="inputFullName" name="fullName" placeholder="Enter your full name">
    </div>
    <div class="form-group">
        <label for="inputSummary">Summary</label>
        <input type="text" class="form-control" id="inputSummary" name="summary" placeholder="Enter a summary">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="inputPhone">Phone Number</label>
        <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Enter phone number">
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Enter address">
    </div>
    <div class="form-group">
        <label for="inputDateOfBirth">Date of Birth</label>
        <input type="date" class="form-control" id="inputDateOfBirth" name="dateOfBirth">
    </div>
            <button id="Step1Save_Button" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

